* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

header {
    display: flex;
    background-color: #f55a5a;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    padding: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}

header > img {
    width: 24px;
}
